<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="LOG_FILE_PATH">logs</Property>
    </Properties>
    
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        
        <!-- File Appender for all logs -->
        <RollingFile name="FileAppender" fileName="${LOG_FILE_PATH}/security-management.log"
                     filePattern="${LOG_FILE_PATH}/security-management-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        
        <!-- Error File Appender -->
        <RollingFile name="ErrorFileAppender" fileName="${LOG_FILE_PATH}/security-management-error.log"
                     filePattern="${LOG_FILE_PATH}/security-management-error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        
        <!-- Async Appender for better performance -->
        <Async name="AsyncConsole">
            <AppenderRef ref="Console"/>
        </Async>
        
        <Async name="AsyncFile">
            <AppenderRef ref="FileAppender"/>
        </Async>
        
        <Async name="AsyncErrorFile">
            <AppenderRef ref="ErrorFileAppender"/>
        </Async>
    </Appenders>
    
    <Loggers>
        <!-- Application specific logger -->
        <Logger name="com.security" level="DEBUG" additivity="false">
            <AppenderRef ref="AsyncConsole"/>
            <AppenderRef ref="AsyncFile"/>
        </Logger>
        
        <!-- Spring Framework logger -->
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="AsyncConsole"/>
            <AppenderRef ref="AsyncFile"/>
        </Logger>
        
        <!-- Hibernate logger -->
        <Logger name="org.hibernate" level="INFO" additivity="false">
            <AppenderRef ref="AsyncConsole"/>
            <AppenderRef ref="AsyncFile"/>
        </Logger>
        
        <!-- Root logger -->
        <Root level="INFO">
            <AppenderRef ref="AsyncConsole"/>
            <AppenderRef ref="AsyncFile"/>
            <AppenderRef ref="AsyncErrorFile" level="ERROR"/>
        </Root>
    </Loggers>
</Configuration> 